
/*
================================================================================

  Variables

================================================================================
*/



/* Grid
------------------------------------- */

$pad: 2rem;



/* Fonts
------------------------------------- */

$base-font-stack: 'Poppins', sans-serif;



/* Colors
------------------------------------- */
$bg-color: #F6FFE8;
$black: #000000;
$gray-dark: #707070;
$gray-light: #B9B9B9;
$green: #92C246;
$red: #CC0C0C;
$yellow: #FFC400;
$blue: #009DFF;
$orange: #FF6200;
$white-color: #fff;
$agenda-item:#93c24696;


/* Gradients
------------------------------------- */



/* Transitions
------------------------------------- */

$default-transition: all 200ms ease;
