.agenda {
  display: flex;
  flex-direction: column;
  &__days {
    width: 91%;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    margin-bottom: 1rem;
    justify-items: start;
    font-size: 0.9rem;
  }
  .calendar-container {
    display: flex;
    &__hours {
      width: 9%;
      display: grid;
      grid-template-rows: 10;
      font-size: bold;
    }
  }

  .calendar {
    display: grid;
    height: 1000px;
    // background: $gray-dark;
    // grid-template-columns: 7;
    grid-template-rows: 10;
    position: relative;
    width: 90%;
    .light,
    .dark {
      height: 100px;
      width: 15%;
      border-bottom: 2px solid $gray-light;
    }
    .light {
      background: #f2f2f2;
    }
    .dark {
      background: #e5e5e5;
    }
    &__row {
      height: 100px;
      display: flex;
      gap: 0.5rem;
    }

    .item {
      position: absolute;
      //   top: 54px;
      width: 14%;
      //   left: 14.3%;
      //   height: 95px;
      background: rgba($agenda-item, 0.4);
      border-left: 4px solid $agenda-item;
      padding: 0.5rem;
      font-size: 0.9rem;
      line-height: 1.4rem;
      cursor: pointer;
      transition: ease-in all .1s;
      &:hover{
        background: $agenda-item;
      }
    }
  }
}
