.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 5;
  padding: 1rem 2rem;
  &__inner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left{
      display: flex;
      align-items: center;
      .nav{
        margin-left: 1rem;
        &__container{
          display: flex;
          list-style: none;
          >*{
            margin-right: 1rem;
          }
        }
      &__item{
        a{
          color: $black;
          text-decoration: none;
        }
        a.active{
          text-decoration: underline;
          color: $gray-dark;
        }
      }
      }
    }

    &__right{
      .btn{
        margin: 0 .5rem;
      }
    }
  }
}